.print-setting {
  @page {
    display: block;
    margin: 5mm;
    min-height: 100%;
  }

  body {
    display: block;
    margin: 10px;
    text-align: center;
  }
}

.float-right {
  float: right;
}

.print-view {
  display: none;
  @media print {
    display: block;
    border: 10px solid red;
  }
}

.text-center {
  text-align: center;
}

.dont-print {
  @media print {
    display: none;
  }
}

.border {
  border-bottom: 10px solid blue;
}

.detail-view {
  @media print {
    border: 100px solid blue;
  }
}
